# Google Maps API Key
GOOGLE_API_KEY=""

# Razorpay Payment Gateway
RAZORPAY_KEY_ID=""

# Backend API URL
# Use http://10.0.2.2:<port> for Android Emulator
# Use http://localhost:<port> for iOS Simulator
DEV_BACKEND_URL="http://10.0.2.2:1234"
# DEV_BACKEND_URL="https://noncruciformly-unsupplicated-rosalinda.ngrok-free.dev"
# DEV_BACKEND_URL="https://diastolic-elevatingly-renita.ngrok-free.dev"
# DEV_BACKEND_URL="https://user-driver-vdrive-backend.zithspace.in/"
